body {
  margin: 4;
  padding: 16;
  background-color: #fafaf6;
  width: 320px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: 'Bricolage Grotesque', sans-serif;
}


.card {
  background: white;
  margin: 16px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.word {
  font-size: 24px;
  font-weight: 600;
  color: #291300;
  margin-bottom: 10px;
  padding-left: 4px;
  padding-right: 4px;
}

.meaning {
  font-size: 16px;
  color: #291300;
  line-height: 1.4;
  max-height: 200px;
  overflow-y: auto;
  padding-right: 4px;
  padding-left: 4px;
}

.title-tag {
  font-size: 24px;
  font-weight: 600;
  color: #291300;
  margin-bottom: 10px;
  padding-left: 4px;
  padding-right: 4px;
  font-weight: bold;
}